#header {
    overflow: hidden;
    font: 50px/1.5 Tahoma;
    padding: 8px 0 0 0;
    height: 68px;
}

#bf {
    border-bottom: 4px solid #F2F2F2;
    height: 65px;
    background: #3a3a3a;
}

.a {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    font: 12px/1.5 tahoma,"microsoft yahei","\5FAE\8F6F\96C5\9ED1";
    background: pink repeat-x 0 60px;
    text-align: center;
}

ul#Menu li {
    float: left;
    list-style: none;
    font-size: 14px;
    width: 53px;
    padding-right: 5px;
    height: 44px;
    line-height: 44px;
}
ul#Menu li a {
    color: #ffffff;
    text-decoration: none;
}
ul#Menu li a:hover {
    color: lightblue;
}
ul#Menu {
    height: 44px;
    padding-top: 8px;
    overflow: hidden;
    padding-bottom: 10px;
}

#footer {
    padding: 10px 0px 10px 0px;
    width: 100%;
    margin: 0 auto;
    background: #444444;
    color: #CCCCCC;
}

#footer .lf {
    text-align: left;
}

#footer .lf, #footer .rt {
    line-height: 24px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}

#footer .rt {
    text-align: right;
}

#footer a {
    color: #CCCCCC;
    text-decoration: none;
}

.w {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.Copyright, .Copyright a {
    color: #CCCCCC;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0,0,0,0.6);
}
