.reddot:after {
    content: "";
    position: absolute;
    top: 10px;
    right: 5px;
    padding: 3px;
    z-index: 9999999;
    background: #d9534f;
    border-radius: 50%;
    font-size: 0;
    line-height: 0;
    border: 1px solid #d43f3a;
}


.main_text {
    width: 100%;
    outline: 0;
    height: 260px;
    resize: none;
    font-size: 16px;
    padding: 10px;
    padding-right: 24px;
    border: 1px solid rgba(5, 130, 140, .25);
}
