<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            background: pink;
        }
    </style>
</head>
<body>
前台首页
<br>
这个是从模板中渲染的字符串
<br>

{{ person.username }}
{{ persons.0 }}
{#注意不可以使用 persons[0] #}

{#{% if person.age < 18 %}#}
{#    <p>您未满18岁，请退出</p>#}
{#{% elif person.age >= 18 %}#}
{#    <p>您已满18岁</p>#}
{#{% endif %}#}

{#{% if '张三' in persons %}#}
{#    <p>张三到！</p>#}
{#{% else %}#}
{#    <p>张三呢？</p>#}
{#{% endif %}#}

{#{% if 1 is 1 %}#}
{#    <p>1 is 1</p>#}
{#{% endif %}#}

<ul>
    {% for key, value in person.items %}
        <li>key: {{ key }}, value: {{ value }}</li>
    {% empty %}
        <li>没有人</li>
    {% endfor %}
</ul>
<table>
    <thead>
    <tr>
        <td>序号</td>
        <td>书名</td>
        <td>作者</td>
        <td>价格</td>
    </tr>
    </thead>
    <tbody>
    {% for book in books %}
        {% if forloop.first %}
            <tr style="background: red;">
        {% elif forloop.last %}
            <tr style="background: green;">
        {% else %}
            <tr>
        {% endif %}
            <td>{{ forloop.counter }}</td>
            {# {{ forloop.counter0 }} 从0开始 #}
            {# {{ forloop.revcounter }} 反向 #}
            <td>{{ book.name }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.price }}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>

</body>
</html>