<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            background: pink;
        }

        .nav {
            overflow: hidden;
        }

        .nav li {
            float: left;
            list-style: none;
            margin: 0 20px;
        }
    </style>
</head>
<body>
前台首页
<br>
这个是从模板中渲染的字符串
<br>

<ul class="nav">
    <li><a href="/">首页</a></li>
    <li><a href="{% url 'front:book' %}">读书</a></li>
    <li><a href="{% url 'front:movie' %}">电影</a></li>
    <li><a href="{% url 'front:city' %}">同城</a></li>
    <li><a href="{% url 'front:book_detail' book_id='1' category='1'%}">最火的一篇文章</a></li>
    <li><a href="{% url 'front:login' %}?next=/">登陆</a></li>
</ul>
Hi!你好 {{ username }}
<br>
现在的时间是{{ today|date:"Y年n月j日 G:i:s" }}
</body>
</html>