{% extends 'base.html' %}

{% block title %}
    movie界面
{% endblock %}

{% block content %}
    <div class="container">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>序号</th>
                <th>编号</th>
                <th>电影名</th>
                <th>时长</th>
                <th>上映日期</th>
                <th>票房(元）</th>
            </tr>
            </thead>
            <tbody>
            {% for film in films %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ film.id }}</td>
                    <td>{{ film.name }}</td>
                    <td>{{ film.length }}</td>
                    <td>{{ film.releaseday | date:"Y-n-j"}}</td>
                    <td>{{ film.boxoffice_tot }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {{ page_html|safe }}
            </ul>
        </nav>
    </div>
{% endblock %}
